{% extends "layout.twig" %}

{% block content %}

<!-- Breadcrumbs -->
<div class="breadcrumbs overlay">
	<div class="container">
		<div class="bread-inner">
			<div class="row">
				<div class="col-12">
					<h2>Para você</h2>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Breadcrumbs -->

<!-- Start Content Area -->
<section class="pf-details section">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="inner-content text">
					<!-- News Head -->
					<div class="text-head">
						<img src="/public/v6/img/para-voce.jpg" alt="#">
					</div>
					<div class="body-text">
						<h3>O que é o Pré-Natal Psicológico?</h3>
            <p>O pré-natal psicológico é um acompanhamento emocional realizado ao longo da gestação. Ele oferece um espaço seguro para que a gestante possa elaborar medos, ansiedades, expectativas e transformações que surgem nesse período.</p>
            <p>Mais do que preparar para o parto, o pré-natal psicológico cuida da saúde mental da mulher promovendo bem-estar, consciência emocional e fortalecimento da vivência da maternidade.</p>

            <h3>Acompanhamento Psicológico Durante o Parto</h3>
            <p>O acompanhamento psicológico durante o parto é uma forma de oferecer presença emocional e suporte especializado nesse momento tão intenso.</p>
            <p>A psicóloga atua como um ponto de acolhimento, ajudando a gestante (e sua rede de apoio) a lidar com emoções como medo, insegurança, dor ou ansiedade, favorecendo um ambiente mais seguro e respeitoso.</p>
            <p>Esse tipo de acompanhamento é sempre combinado previamente, respeitando os desejos da mulher, a equipe médica e o contexto do nascimento.</p>

            <h3>Para quem é meu atendimento</h3>
            <p class="mb-0">Meus atendimentos são voltados para pessoas adultas que desejam olhar para si com mais presença, escuta e cuidado — especialmente mulheres em diferentes fases da vida, com suas histórias, dores, dúvidas e buscas:</p>
            <ul>
              <li>Se sentindo sobrecarregada(o), sem espaço para si mesma(o)</li>
              <li>Passando por um momento de ansiedade, tristeza ou confusão emocional</li>
              <li>Vivendo o desejo de engravidar, com ou sem dificuldades no caminho</li>
              <li>Gestando e sentindo que precisa de apoio emocional para lidar com tantas mudanças</li>
              <li>Enfrentando medos sobre o parto, o pós-parto ou a maternidade</li>
              <li>Vivendo um puerpério difícil, com sentimentos que nem sempre são ditos</li>
              <li>Enlutada(o) por uma perda gestacional ou perinatal</li>
              <li>Querendo simplesmente um espaço só seu, para se escutar, refletir e se cuidar</li>
            </ul>

            <p>Ou talvez você seja parte da rede de apoio de uma mulher e sinta que também precisa de acolhimento para lidar com tudo isso.</p>
            <p>Se você se reconhece em alguma dessas vivências, este espaço é pra você. Aqui, você será escutada(o) com respeito, sem julgamentos e com o cuidado que merece.</p>

            <h3>Vamos conversar?</h3>
            <p>Se você sentiu que esse espaço pode te acolher, será um prazer te acompanhar nesse processo.</p>
            <div class="button">
              <a href="https://wa.me/5511911642675" target="_blank" class="btn">Agendar Consulta</a>
            </div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Content Area -->
{% endblock %}
