{% extends "layout.twig" %}

{% block content %}

<!-- Breadcrumbs -->
<div class="breadcrumbs overlay">
	<div class="container">
		<div class="bread-inner">
			<div class="row">
				<div class="col-12">
					<h2>Quem sou eu?</h2>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Breadcrumbs -->

<!-- Start Content Area -->
<section class="pf-details section">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="inner-content text">
					<!-- News Head -->
					<div class="text-head">
						<img src="/public/v6/img/quem-sou-eu.jpg" alt="#">
					</div>
					<div class="body-text">
						<h3>Sou Tainá Bichler...</h3>
						<p>Mãe do Matteo e do Lucca, dois meninos que transformaram profundamente minha forma de olhar para o mundo e para a psicologia. Sou Psicóloga Clínica há mais de 7 anos, com atuação contínua no atendimento terapêutico de adultos.</p>
						<p>Minha jornada com a Psicologia Obstétrica começou de forma muito pessoal: após minha primeira gestação, vivi uma depressão pós-parto. Em seguida, engravidei novamente. Foi nesse processo intenso, desafiador e profundamente humano que senti o chamado de compreender mais a fundo o universo psíquico da mulher, especialmente nos ciclos da gestação, puerpério e maternidade.</p>
						<p>Além da psicologia, carrego uma longa caminhada com terapias holísticas. Sou terapeuta desde 2012, atuando com técnicas naturais, medicina chinesa e abordagens integrativas que respeitam o ser em sua totalidade: mente, corpo, alma e história.</p>
						<p>Meus atendimentos têm uma base psicanalítica, mas são conduzidos com um olhar integrativo: acolho cada pessoa de forma única, respeitando seu tempo, suas dores e também suas possibilidades de transformação.</p>
						<p>Acredito no poder da escuta, do cuidado e da conexão verdadeira. E é isso que ofereço: um espaço seguro para que você possa ser ouvida, se fortalecer e viver com mais leveza o que hoje pesa.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Content Area -->
{% endblock %}
