{% extends "layout.twig" %}

{% block content %}

<!-- Breadcrumbs -->
<div class="breadcrumbs overlay">
	<div class="container">
		<div class="bread-inner">
			<div class="row">
				<div class="col-12">
					<h2>Política de atendimento</h2>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Breadcrumbs -->

<!-- Start Content Area -->
<section class="pf-details section">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="inner-content text">
					<!-- News Head -->
					<div class="text-head">
						<img src="/public/v5/img/politica.jpg" alt="#">
					</div>
					<div class="body-text">
						<h3>Ética e Sigilo Profissional</h3>
						Todos os atendimentos são conduzidos com base no Código de Ética Profissional do Psicólogo, garantindo total sigilo, respeito e confidencialidade das informações compartilhadas em sessão.</p>

						<h3>Cancelamento e Remarcação de Sessões</h3>
						Caso precise desmarcar ou remarcar sua sessão, por favor, avise com no mínimo 24 horas de antecedência. Isso permite uma melhor organização da agenda e respeito com o seu tempo e o meu.</p>

						<h3>Formas de Pagamento</h3>
						O pagamento é realizado por sessão, via PIX. Os dados são informados no momento do agendamento.</p>

						<h3>Uso de Dados Pessoais</h3>
						Este site pode coletar informações como nome e e-mail apenas para fins de agendamento ou contato. Nenhuma informação é compartilhada com terceiros.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Content Area -->
{% endblock %}
